@import "../../styles/themes/default";

.editInfluence {
  height: 30px;
  background: black;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  :global {
    .anticon {
      color: @white;
      font-size: 18px;
    }

    .anticon + .anticon {
      margin-left: 8px;
    }
  }

  .active {
    color: @primary-color;
  }
}
